*.pyc
Data
fer2013.csv
Channels
nohup.out
.ipynb_checkpoints/
*.png
*.pickle
*.pkl
3wolfmoon.jpg
CKPlus
KDEF
notebooks/ErrosCNN5LayersV2.log
lib/utils
otherwork
_temp
*.csv
*.txt
Logs/selfieSentibankANPS.pk
Logs/selfieSentibankProbs.csv
Logs/vineSentibankANPS.pk
python-data-utils
Models
Logs/denseCap_selfie.json
Logs/denseCap_vine.json
Logs/errorPickleDBN.pickle
Logs/errorPickleDBNV1.pickle
Logs/errorPickleDBNV2.pickle
Logs/ErrosCNN5Layers.pickle
Logs/ErrosCNN5LayersV2.log
Logs/ErrosCNN7LayersV1.pickle
Logs/ErrosCNN7LayersV2.pickle
Logs/ErrosCNN7LayersV3.pickle
Logs/ErrosCNN7LayersV4.pickle
Logs/ErrosCNN7Layes.pickle
Logs/ErrosCNN8Layers.pickle
Logs/ErrosRBMFer.pickle
Logs/eyesExtracted.data
Logs/faceNumbersPass2.pk
Logs/LikePredictionTraining2.pk
Logs/LikePredictionTraining.pk
Logs/LikesPredictionTraining_lognormal.pk
Logs/MsftTestScoresCKplus.pkl
Logs/MsftTestScores.pkl
Logs/MsftTrainScores0.pkl
Logs/MsftTrainScores1.pkl
Logs/MsftTrainScores2.pkl
Logs/MsftTrainScores.pkl
Logs/numbersOfficialeye.pk
Logs/numbers.pk
Logs/pbcopy
Logs/RepostsPredictionTraining2.pk
Logs/RepostsPredictionTraining_lognormal.pk
Logs/scores.pkl
Logs/selfie_dataset.txt
Logs/selfiePaths.txt
Logs/vinePaths.txt
Logs/vineSentibankProbs.csv
Logs/visited2016.data
Logs/visited.data
testImages/
samples/
*.bkp
*.log
Logs/sampledvineImagenetObjs2015.pk
Logs/sampledvineImagenetObjs2015_1.pk
Logs/sampledvineSentibankANPS2015_2.pk
Logs/sampledvineSentibankANPS2015_3.pk
Logs/crawledPosts.pk
Logs/crawledUsers.pk
test_dir/
python_image_features
visual_features
Logs/sampled_sentibank_labelledANPS.pk
Logs/sampled_vine_ANPS_final.pk
Logs/sentibank_baseline_ANPS_final.pk
DeepSentibank
*,pk
Autism_research_videos
Logs/MVSO_vine_ANPs.pk
Logs/MVSO_vine_ANPs_final.pk
Youtube_videos
Logs/viral_sample.pk
Logs/screenplay_sample.pk
