*.pyc
Data
fer2013.csv
Channels
nohup.out
.ipynb_checkpoints/
*.png
*.pickle
*.pkl
*.jpg
CKPlus
KDEF
lib/utils
otherwork
_temp
*.csv
*.txt
python-data-utils
Models
testImages/
samples/
*.bkp
*.log
test_dir/
python_image_features
visual_features
DeepSentibank
*.pk
Autism_research_videos
Youtube_videos
Logs/*
EThoS/*
EthosWork
suicide
twitterCrawl
